
.buttons_create {
    display: flex;
}

.button_create, .button_back_create {
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 17px;
    padding: 2px 15px;
}

.button_create:hover, .button_back_create:hover {
    background-color: #0056b3;
}

input[name="title"], [name="description"] {
    border-radius: 5px;
    box-shadow: 5px 2px 5px rgba(0, 0, 0, 0.2);
}

.create_task {
    padding: 0 0 0 50px;
}