{% extends "base_final_app.html" %}
{% load static %}

{% block css_files %}
  <link rel="stylesheet" href="{% static 'styles_final_app.css' %}">
  <link rel="stylesheet" href="{% static 'form.css' %}">
{% endblock %}

{% block page_title %}
  Podcast Generator
{% endblock %}

{% block content %}

    <form method="post" action="{% url 'form' %}">
    {% csrf_token %}
        <div class="list1">
            <nav class="form1">
                <h4>Choose your favourite podcast genre:</h4>
            </nav>
                <ul>
                {% for genre in genres %}
                    <li>
                      <input type="radio" name="genre" value="{{ genre }}" id="{{ genre }}">
                      <label for="{{ genre }}">{{ genre }}</label>
                {% endfor %}
                    </li>
                </ul>
                  <button class="button1" type="submit">Confirm</button>
        </div>
</form>

{% endblock %}